<header>
    <div class="logo">
        <a href=index.html>
            <img src="assets/logo.png" alt="Oxford Encampment Icon"></a>
    </div>
    <div class="title">
        <em>OXFORD ACTION FOR PALESTINE.</em>
    </div>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </button>
            <div class="dropdown-content">
                <a href="index.html">Home.</a>
                <a href="statements.html">Our Statements.</a>
                <a href="demands.html">Our Demands.</a>
                <a href="support.html">Support from the Community.</a>
                <a href="press.html">Press Releases.</a>
                <a href="inthenews.html">In The News.</a>
                <a href="archive.html">Photos.</a>
            </div>
        </div>
    </nav>
</header>