<ul class="press-releases">
    <li><a href="assets/11 14 OXFORD STUDENTS PROTEST NIKKI HALEY SPEECH.pdf" target="_blank"><span
                class="release-title">Oxford Students Protest Nikki Haley's Visit to Campus</span><span
                class="release-date">November 15</span></a></li>
    <li><a href="assets/10 28 OXFORD STUDENTS STAGE ALL NAMES VIGIL PROTEST FOR GAZA, CAMPUS-WIDE WALKOUT.pdf"
            target="_blank"><span class="release-title">Oxford Students Stage "ALL NAMES" Vigil
                Protest</span><span class="release-date">October 28</span></a></li>
    <li><a href="assets/10 19 NEW OXFORD STUDENTS DISRUPT MATRICULATIONS FOR GAZA.pdf" target="_blank"><span
                class="release-title">New Oxford Students Disrupt Matriculations for
                Gaza</span><span class="release-date">October 19</span></a></li>
    <li><a href="assets/08 17 CASE DROPPED AGAINST THE WELLINGTON SQUARE 17.pdf" target="_blank"><span
                class="release-title">Case Dropped Against the Wellington Square 17</span><span
                class="release-date">August 17</span></a></li>
    <li><a href="assets/07 22 OXFORD GRADS DISRUPT GRADUATIONS FOR GAZA.pdf" target="_blank"><span
                class="release-title">Oxford Grads Disrupt Graduation for Gaza</span><span class="release-date">July
                22</span></a></li>


    <li><a href="assets/06 25 OXFORD ADMIN CAGES IN OUR FIRST CAMPSITE; DESECRATES GAZA MARTYRS' MEMORIAL WITH HEAVY MACHINERY.pdf"
            target="_blank"><span class="release-title">Admin Cages In First Campsite, Desecrates
                Memorial</span><span class="release-date">June 25</span></a></li>

    <li><a href="assets/06 23 UNIVERSITY ADMINISTRATION ATTEMPTS SHUTDOWN.pdf" target="_blank"><span
                class="release-title">University Attempts to Shut Down Encampment</span><span class="release-date">June
                23</span></a></li>

    <li><a href="assets/06 14 OXFORD ADMIN COMMITS TO REGULAR, ONGOING MEETINGS TO DISCUSS OA4P DEMANDS.pdf"
            target="_blank"><span class="release-title">Admin Commits to Regular, Ongoing
                Meetings</span><span class="release-date">June 14</span></a></li>
    <li><a href="assets/06 13 OA4P RESPONDS TO UNAFFILIATED EXAMINATION SCHOOLS OCCUPATION.pdf" target="_blank"><span
                class="release-title">OA4P Responds to Unaffiliated
                Occupation</span><span class="release-date">June 13</span></a></li>
    <li><a href="assets/06 06 ADMIN AGREES TO MEET WITH STUDENTS.pdf" target="_blank"><span class="release-title">Admin
                Agrees to Meet With Students</span><span class="release-date">June 6</span></a></li>
    <li><a href="assets/05 28 JEWISH FACULTY LETTER.pdf" target="_blank"><span class="release-title">Concerned Jewish
                Faculty Write to University</span><span class="release-date">May 28</span></a></li>
    <li><a href="assets/05 23 SIT IN ARRESTS.pdf" target="_blank"><span class="release-title">ARRESTS at
                Sit-In</span><span class="release-date">May 23</span></a></li>
    <li><a href="assets/05 23 SIT IN ANNOUNCEMENT.pdf" target="_blank"><span class="release-title">Announcement for
                Sit-In</span><span class="release-date">May
                23</span></a></li>
    <li><a href="assets/05 19 RADCLIFFE CAMERA ENCAMPMENT.pdf" target="_blank"><span class="release-title">NEW CAMP at
                Radcliffe Camera</span><span class="release-date">May
                19</span></a></li>
    <li><a href="assets/05 18 GRADUATION ICYMI.pdf" target="_blank"><span class="release-title">Graduation
                ICYMI</span><span class="release-date">May
                18</span></a></li>
    <li><a href="assets/05 18 DIE IN.pdf" target="_blank"><span class="release-title">Die-in Outside
                Graduation</span><span class="release-date">May 18</span></a></li>
    <li><a href="assets/05 17 FOURTEEN UNIONS ENDORSE.pdf" target="_blank"><span class="release-title">Fourteen Unions
                Endorse Encampment</span><span class="release-date">May 17</span></a></li>
    <li><a href="assets/05 16 RALLY ICYMI.pdf" target="_blank"><span class="release-title">Rally
                ICYMI</span><span class="release-date">May 16</span></a></li>
    <li><a href="assets/05 14 OA4P RESPONDS TO UNIVERSITY.pdf" target="_blank"><span class="release-title">We Respond to
                the University</span><span class="release-date">May
                14</span></a></li>
    <li><a href="assets/05 14 FACULTY SUPPORT.pdf" target="_blank"><span class="release-title">Faculty
                Letter Reaches 500 Signatures</span><span class="release-date">May 14</span></a></li>
    <li><a href="assets/05 12 CAMP ATTACK.pdf" target="_blank"><span class="release-title">Our Camp is
                Attacked</span><span class="release-date">May 12</span></a></li>
    <li><a href="assets/05 08 ICYMI VC AWARDS.pdf" target="_blank"><span class="release-title">We
                Deliver Demands In-Person to VC</span><span class="release-date">May 8</span></a></li>
    <li><a href="assets/05 06 PR LAUNCH.pdf" target="_blank"><span class="release-title">Oxford Students
                Launch Encampment</span><span class="release-date">May 6</span></a></li>
</ul>