<div class="side-panel">
    <p class="how-to-get-involved"><em><strong>SIGN THE LETTERS.</strong></em></p>

    <a href="https://oxfordgazastudentsolidarity.wordpress.com/" class="link">Students</a><br>
    <a href="https://oxfordgazastaffsolidarity.wordpress.com/" class="link">Faculty and Staff</a><br>
    <a href="https://oxfordgazanhssolidarity9.wordpress.com/" class="link">Healthcare Workers</a><br>

    <p class="how-to-get-involved"><em><strong>TAKE ACTION.</strong></em></p>

    <a href="https://oa4p.substack.com/" class="link">Join Our Substack</a><br>
    <a href="https://chuffed.org/project/oa4p2025" class="link">Donate</a><br>
    <a href="https://ugc.production.linktr.ee/564ea90e-6c8e-40de-a4a6-501a1f886ef6_Email-Template--Alumni-Solidarity-Letter.doc.pdf"
        class="link">Alumni Email Template</a><br>

    <p class="follow-us-text"><em><strong>FOLLOW US.</strong></em></p>
    <div class="social-icons">
        <a href="https://www.instagram.com/oxact4pal/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@oxact4pal" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://twitter.com/OxAct4Pal" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>



    <p style="margin-top: 40px"><em><strong>ALL EYES ON GAZA.</strong></em></p>
</div>