<div class="side-panel">
    <p class="how-to-get-involved"><em><strong>SIGN THE LETTERS.</strong></em></p>
    <button onclick="window.location.href='https://oxfordgazastudentsolidarity.wordpress.com/'">Students</button>
    <button onclick="window.location.href='https://oxfordgazastaffsolidarity.wordpress.com/'">Faculty and Staff</button>
    <button onclick="window.location.href='https://oxfordgazanhssolidarity9.wordpress.com/'">Healthcare Workers</button>

   <p class="how-to-get-involved"><em><strong>TAKE ACTION.</strong></em></p>
   <button onclick="window.location.href='https://form.jotform.com/242743836000349?utm_source=substack&utm_medium=email'">Join OA4P</button>
   <button onclick="window.location.href='https://oa4p.substack.com/'">Join Our Substack</button>
   <button onclick="window.location.href='https://chuffed.org/project/109359-palestine-direct-action-fund'">Donate</button>
   <button onclick="window.location.href='https://ugc.production.linktr.ee/564ea90e-6c8e-40de-a4a6-501a1f886ef6_Email-Template--Alumni-Solidarity-Letter.doc.pdf'">Alumni Email Template</button>



        <p class="follow-us-text"><em><strong>FOLLOW US.</strong></em></p>
        <div class="social-icons">
            <a href="https://www.instagram.com/oxact4pal/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@oxact4pal" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://twitter.com/OxAct4Pal" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>



    <p style="margin-top: 40px"><em><strong>ALL EYES ON GAZA.</strong></em></p>
</div>   